h1
    | You donated. Thanks!
p 
    | As my way of saying thanks, below you'll find an API key that allows for quick and
    | easy integration with your own projects. There is more 
    | <a href="/#api">API documentation</a> on our homepage. Just be sure to copy down 
    | the API key below to get started.
p
    | If you lose this API key for some reason, shoot me an message and I'll see what I
    | can do about getting you a new one. Or, if you're feeling <i>super</i> generous
    | you can always <a href="/#donate">donate again</a>.
div.well.api-key #{api_key}