!!!
html
  head
    title= title
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    link(rel='stylesheet', href='/css/default.less')
    script(src="/js/less-1.1.5.min.js", type="text/javascript")
  body
    div.container
      != body