@import 'bs/variables.less';

body { background: #048; padding-top: 40px; margin-bottom: 40px; }
.container.main { background: #eee; padding: 20px; width: @siteWidth - 40px; box-shadow: 0 0 10px #000; border-radius: 0 0 3px 3px; }

// Grid style input sizes
// This is a duplication of the main grid .columns() mixin, but subtracts 10px to account for input padding and border and 20px more for the form-stacked left-padding
.formStackedColumns(@columnSpan: 1) {
  display: inline-block;
  float: none;
  width: ((@gridColumnWidth) * @columnSpan) + (@gridGutterWidth * (@columnSpan - 2)) - 30;
  margin-left: 0;
}
form.form-stacked {
    input,
    textarea {
        // Default columns
        &.span1     { .formStackedColumns(1); }
        &.span2     { .formStackedColumns(2); }
        &.span3     { .formStackedColumns(3); }
        &.span4     { .formStackedColumns(4); }
        &.span5     { .formStackedColumns(5); }
        &.span6     { .formStackedColumns(6); }
        &.span7     { .formStackedColumns(7); }
        &.span8     { .formStackedColumns(8); }
        &.span9     { .formStackedColumns(9); }
        &.span10    { .formStackedColumns(10); }
        &.span11    { .formStackedColumns(11); }
        &.span12    { .formStackedColumns(12); }
        &.span13    { .formStackedColumns(13); }
        &.span14    { .formStackedColumns(14); }
        &.span15    { .formStackedColumns(15); }
        &.span16    { .formStackedColumns(16); }
        }
}

form.find-commas { padding-left: 0;
    textarea { height: 200px; }
}

#alert_parse_error { clear: both; margin-top: 20px; }

div.commas {
    .line:before { content: 'Line: ';}
    .line:after {content: ', '; }
    .char:before { content: 'Character: '; }
    dl { margin-bottom: 0; }
    dt { padding-left: 10px; }
    dd { white-space: pre; margin-left: 0; padding-left: 15px; margin-bottom: 6px; }
    dt:nth-child(4n+3) { background: @grayLighter; }
    dd:nth-child(4n) { background: @grayLighter; }
    dd:last-child { margin-bottom: 0; }
}

.paypal-donate input { width: auto; height: auto; }

div.api-key { text-align: center; border: 1px solid @gray; font-size: 48px; padding: 40px; font-weight: bold; margin-top: 40px; }